.header .container {
  display: flex;
  justify-content: space-between;
}

.header {
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 25px;
}

.site-nav {
  display: flex;
}

.main-nav,
.auth-list {
  display: flex;
  align-items: center;
}

.main-nav-link,
.auth-list-link {
  font-size: 14px;
  font-weight: 500;
  transition: color var(--transition-duration) var(--transition-timing-func);
}

.main-nav-link {
  color: var(--primary-text-color);
  position: relative;
}

.auth-list-link {
  color: var(--grey-text-color);
}

.main-nav-link:hover,
.main-nav-link:focus,
.auth-list-link:hover,
.auth-list-link:focus,
.footer-contact-link:hover,
.footer-contact-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.main-nav-item:not(:last-child),
.auth-list-item:not(:last-child) {
  margin-right: 50px;
}

.auth-icon {
  margin-right: 10px;
  fill: currentColor;
}

.auth-list .auth-list-link {
  display: flex;
  align-items: center;
}

.main-nav-link::after {
  opacity: 0;
  content: "";
  transition: opacity var(--transition-duration) var(--transition-timing-func);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  margin-top: 45px;
}

.main-nav-link:hover::after,
.main-nav-link:focus::after,
.current::after {
  opacity: 1;
}